@import "../../../styles/variables.scss";

.container {
  background-color: transparent;
  border: 2px solid getColor(container);
  border-radius: 0.6em;
  padding: 0.6em;
  font-size: 1rem;
  font-weight: $font-medium;
  transition: 0.5s all ease-in-out;
  width: clamp(150px, 50%, 300px);
  max-width: 300px;
  cursor: pointer;
  &:hover {
    background-color: getColor(container);
    color: getColor(input);
  }
}
