@import "../../../styles/variables.scss";

.projects {
  padding: 2.5em;
  overflow: hidden;
  max-width: 968px;
  margin: 0 auto;
}
.container {
  margin: clamp(25px, 4vw, 50px) 0;
  text-align: start;
}

.small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px 15px;
  > li {
    position: relative;
    background-color: getColor(card);
    height: 100%;
    box-shadow: 0 10px 30px -15px rgb(2 12 27 / 40%);
    padding: 2em 1.75em;
    border-radius: 1em;
    &::before {
      content: "";
      background-color: getColor(primary-alt);
      position: absolute;
      left: 0;
      top: -8px;
      z-index: -9;
      width: 100%;
      height: 50px;
      border-radius: 5em;
    }
  }
}

.btnContainer {
  text-align: center;
}
@media screen and (min-width: 767px) {
  .projects {
    padding: $header-height 2.5em 0;
  }
}
