.skills {
  margin-top: 1em;
  text-align: start;
  padding: 0 clamp(5px, 4.5vw, 50px);
}
.containerSkills {
  margin-top: 1em;
  display: grid;
  gap: 1em clamp(15px, 2.5vw, 2em);
  grid-template-columns: repeat(auto-fill, minmax(41px, 1fr));
  a[data-tooltip] {
    position: relative;
  }
  a[data-tooltip]::before,
  a[data-tooltip]::after {
    position: absolute;
    display: none;
    opacity: 0.85;
  }
  a[data-tooltip]::before {
    content: attr(data-tooltip);
    background: #000;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
  }
  a[data-tooltip]::after {
    width: 0;
    height: 0;
    border: 2px solid transparent;
    content: "";
  }

  a[data-tooltip]:hover::before,
  a[data-tooltip]:hover::after {
    display: block;
  }
  a[data-tooltip][data-placement="top"]::before {
    bottom: 100%;
    left: 0;
    margin-bottom: 0px;
  }
  a[data-tooltip][data-placement="top"]::after {
    border-top-color: #000;
    border-bottom: none;
    bottom: 50px;
    left: 20px;
  }
}
