@import "../../../styles/variables.scss";

.contact {
  padding: 2.5em;
  overflow: hidden;
  max-width: 968px;
  margin: 0 auto;
  margin-bottom: -40px;
}
.container {
  text-align: center;
  padding-bottom: 7vw;
  p {
    margin: 3vw auto;
    max-width: 550px;
  }
}
@media screen and (min-width: 767px) {
  .contact {
    padding: $header-height 2.5em 2.5em;
  }
}
