@import "../../../../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5em;
  margin-bottom: 0.75em;
  h3 {
    display: inline-block;
    font-size: $h3-font-size;
    max-width: 70%;
    white-space: wrap;
    overflow: hidden;
  }
  ul {
    flex-direction: row-reverse;
    display: flex;
    min-width: 18%;
    justify-content: space-between;
    li {
      margin-left: 0.75em;
    }
  }
}
