@import "../../../styles/variables.scss";

.bigProjects {
  display: flex;
  flex-direction: column;
  margin: clamp(15px, 4vw, 40px) 0;
}

.image_container {
  flex: 1;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
}
.info {
  margin: 0.5em 0;
  flex: 1;
  height: 100%;
  p {
    margin: 0.35em 0;
  }
}

@media screen and (min-width: 767px) {
  .bigProjects {
    flex-direction: row;
    align-items: center;
  }

  .image_container {
    flex: 1;
    border-radius: 1em;
    overflow: hidden;
  }
  .info {
    margin: 0 2em;
  }
  .reverse {
    flex-direction: row-reverse;
    .info {
      margin: 0 2em 0 0;
    }
  }
}
