@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "./variables.scss";

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
  --theme: "light";
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: $normal-font-size;
  background-color: getColor(lighter);
  color: getColor(text);
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: getColor(text);
  font-weight: $font-semi-bold;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  font-size: $normal-font-size;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
.icon {
  &[data-tooltip] {
    position: relative;
  }
  &[data-tooltip]::before,
  &[data-tooltip]::after {
    position: absolute;
    display: none;
    opacity: 0.85;
  }
  &[data-tooltip]::before {
    content: attr(data-tooltip);
    background: getColor(container);
    color: getColor(lighter);
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
  }
  &[data-tooltip]::after {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    content: "";
  }

  &[data-tooltip]:hover::before,
  &[data-tooltip]:hover::after {
    display: block;
  }
  &[data-tooltip][data-placement="top"]::before {
    bottom: 110%;
    right: 20%;
    margin-bottom: 0px;
  }
  &[data-tooltip][data-placement="top"]::after {
    border-top-color: getColor(container);
    border-bottom: none;
    bottom: 95%;
    right: 40%;
  }
}

.tools {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  li {
    margin-right: 1em;
    font-size: $small-font-size;
  }
}
