$header-height: 4rem;

$hue-color: 220;
@function getColor($color-name) {
  @return var(--color-#{$color-name});
}
$colors: (
  container: hsl($hue-color, 14, 13),
  container-secondary: hsl($hue-color, 60, 99),
  primary: hsl($hue-color, 69, 61),
  primary-alt: hsl($hue-color, 57, 53),
  lighter: hsl($hue-color, 92, 85%),
  title: hsl($hue-color, 8, 15),
  text: hsl($hue-color, 8, 45),
  text-light: hsl($hue-color, 8, 65%),
  input: hsl($hue-color, 70, 96),
);

$big-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

$font-medium: 500;
$font-semi-bold: 600;

@media screen and (min-width: 968px) {
  $big-font-size: 3rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
}
